:root {
    --primary-text: #444444;
    --secondary-text: #E6E6E6;
    --input-text-bg: #E6E6E6;
    --accent-color: #CC0000;
    --button-bg: #CC0000;
    --button-hover-bg: #AA0000;
}

html {
	scroll-behaviour: smooth;
}

body {
    font-family: "Trebuchet MS", Arial, sans-serif;
    margin: 2.5rem 2.5rem;
    color: var(--primary-text);
    max-width: 75ch;
    margin-inline: auto;
    padding-inline: clamp(1rem, 5vw, 2.5rem);
    line-height: clamp(0.5rem, 5vw, 1.5rem);
}

input[type="text"] {
    font-family: Arial;
    background-color: var(--input-text-bg);
    outline: none;
    border: none;
    padding: 0.6rem;
    font-size: 1rem;
}

button {
    outline: none;
    border: none;
    padding: 0.6rem;
    background-color: var(--button-bg);
    color: var(--secondary-text);
}

button:hover {
    background-color: var(--button-hover-bg);
}

h1 a {
  text-decoration: none;
  color: var(--primary-text);
}

a {
  color: var(--accent-color);
}

code {
  font-family: monospace;
  background-color: var(--input-text-bg);
  padding: 2px;
}

li {
  margin-top: 2px;
  margin-bottom: 2px;
}
